<div class="container-scroller">
  <!-- partial:../../partials/_navbar.html -->
  <nav
    class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row"
  >
    <div
      class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center"
    >
      <a class="navbar-brand brand-logo" href="../../index.html"
        ><img src="../../assets/images/logo.png" alt="logo"
      /></a>
      <a class="navbar-brand brand-logo-mini" href="../../index.html"
        ><img src="../../assets/images/logo.png" alt="logo"
      /></a>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-stretch">
      <button
        class="navbar-toggler navbar-toggler align-self-center"
        type="button"
        data-toggle="minimize"
      >
        <span class="mdi mdi-menu"></span>
      </button>

      <ul class="navbar-nav navbar-nav-right">
        <li class="nav-item nav-profile dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="profileDropdown"
            href="#"
            data-toggle="dropdown"
            aria-expanded="false"
          >
            <div class="nav-profile-img">
              <img src="../../assets/images/faces/face1.jpg" alt="image" />
              <span class="availability-status online"></span>
            </div>
            <div class="nav-profile-text">
              <p class="mb-1 text-black">David Greymaax</p>
            </div>
          </a>
          <div
            class="dropdown-menu navbar-dropdown"
            aria-labelledby="profileDropdown"
          >
            <a class="dropdown-item" href="#">
              <i class="mdi mdi-settings mr-2 text-success"></i> Change Password
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <i class="mdi mdi-logout mr-2 text-primary"></i> Signout
            </a>
          </div>
        </li>

        <li class="nav-item nav-logout d-none d-lg-block">
          <a class="nav-link" href="#">
            <i class="mdi mdi-power"></i>
          </a>
        </li>
      </ul>
      <button
        class="navbar-toggler navbar-toggler-right d-lg-none align-self-center"
        type="button"
        data-toggle="offcanvas"
      >
        <span class="mdi mdi-menu"></span>
      </button>
    </div>
  </nav>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- partial:../../partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/categories'">
            <span class="menu-title">Category</span>
            <i class="mdi mdi-book-multiple menu-icon"></i>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/services'">
            <span class="menu-title">Services</span>
            <i class="mdi mdi-airplane menu-icon"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/packages'">
            <span class="menu-title">Packages</span>
            <i class="mdi mdi-package menu-icon"></i>
          </a>
        </li>
      </ul>
    </nav>
    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="page-header">
          <h3 class="page-title">Services</h3>
        </div>
        <div class="row">
          <div class="col-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <alert></alert>
                <form
                  class="forms-sample"
                  [formGroup]="serviecForm"
                  (ngSubmit)="onSubmit()"
                >
                  <div class="form-group">
                    <label for="exampleInputName">Service Name</label>
                    <input
                      formControlName="service"
                      class="form-control form-control-lg"
                      [ngClass]="{
                        'is-invalid': submitted && f.service.errors
                      }"
                      placeholder="Name (e.g. Car Name ,Bus Name)"
                    />
                    <div
                      *ngIf="submitted && f.service.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.service.errors.required">
                        Service is required
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="exampleSelectCategory">Select Category</label>
                    <select
                      class="form-control"
                      id="exampleSelectCategory"
                      formControlName="category_id"
                      [ngClass]="{
                        'is-invalid': submitted && f.category_id.errors
                      }"
                    >
                      <option
                        *ngFor="let item of category"
                        [ngValue]="item.id"
                        >{{ item.category }}</option
                      >
                    </select>
                    <div
                      *ngIf="submitted && f.category_id.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.category_id.errors.required">
                        Select Category is required
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPrice">Price/Km</label>
                    <input
                      type="number"
                      formControlName="price"
                      class="form-control form-control-lg"
                      [ngClass]="{
                        'is-invalid': submitted && f.price.errors
                      }"
                      placeholder="Price"
                    />
                    <div
                      *ngIf="submitted && f.price.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.price.errors.required">
                        Price is required
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div
                      class="custom-dropzone"
                      ngx-dropzone
                      [accept]="'image/*'"
                      (change)="onFilesAdded($event)"
                    >
                      <ngx-dropzone-label>
                        <div>
                          <h2>Drag and Drop or Click</h2>
                        </div>
                      </ngx-dropzone-label>

                      <ngx-dropzone-image-preview
                        ngProjectAs="ngx-dropzone-preview"
                        *ngFor="let f of files"
                        [file]="f"
                        [removable]="true"
                        (removed)="onRemove(f)"
                      >
                      </ngx-dropzone-image-preview>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="exampleTextarea1">Service Detail</label>

                    <textarea
                      id="exampleTextarea1"
                      rows="4"
                      formControlName="description"
                      class="form-control form-control-lg"
                      [ngClass]="{
                        'is-invalid': submitted && f.description.errors
                      }"
                    ></textarea>
                    <div
                      *ngIf="submitted && f.description.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.description.errors.required">
                        Description is required
                      </div>
                    </div>
                  </div>
                  <button
                    [disabled]="loading"
                    class="btn btn-gradient-primary mr-2"
                  >
                    <span
                      *ngIf="loading"
                      class="spinner-border spinner-border-sm mr-1"
                    ></span>
                    Submit
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
      <!-- partial:../../partials/_footer.html -->
      <footer class="footer">
        <div
          class="d-sm-flex justify-content-center justify-content-sm-between"
        >
          <span
            class="text-muted text-center text-sm-left d-block d-sm-inline-block"
            >Copyright © 2017
            <a href="https://www.bootstrapdash.com/" target="_blank"
              >BootstrapDash</a
            >. All rights reserved.</span
          >
          <span
            class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"
            >Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i
          ></span>
        </div>
      </footer>
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
